!    ░█  █░                                                               
!     ▓▒▒▓   █▒██▒  ███   ▒███▒   ███   █   █   █▒██▒  ▓██▒   ███   ▒███▒ 
!      ██    ██  █ ▓▓ ▒█  █▒ ░█  █▓ ▓█  █   █   ██  █ ▓█  ▓  ▓▓ ▒█  █▒ ░█ 
!      ██    █     █   █  █▒░    █   █  █   █   █     █░     █   █  █▒░   
!     ▒██░   █     █████  ░███▒  █   █  █   █   █     █      █████  ░███▒ 
!     █▒▒█   █     █         ▒█  █   █  █   █   █     █░     █         ▒█ 
!    ▒█  █░  █     ▓▓  █  █░ ▒█  █▓ ▓█  █▒ ▓█   █     ▓█  ▓  ▓▓  █  █░ ▒█ 
!    █▒  ▒█  █      ███▒  ▒███▒   ███   ▒██▒█   █      ▓██▒   ███▒  ▒███▒                                                                       

!########COLORS########
#include ~/.config/colors/gruvbox
